<%= render partial: "breadcrumb", locals: { step: :what, survey: @survey } %>
<h1>What did you find?</h1>

<p>Survey Types Collected</p>
<%= bootstrap_form_for @what_step, url: surveys_path do |f| %>
  <%= f.check_box :beached_bird, label: "Beached Bird" %>
  <%= f.check_box :small_marine_debris, label: "Small Marine Debris" %>
  <%= f.check_box :medium_marine_debris, label: "Medium Marine Debris" %>
  <%= f.check_box :large_marine_debris, label: "Large Marine Debris" %>
  <%= f.submit %>
<% end %>
