<%= debug params %>
<%= debug @when_step %>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= bootstrap_form_for @when_step,
                        url: edit_survey_when_path(token: @survey.token),
                        method: :put do |f| %>
      <div class="form-group form-inline">
        <%= f.date_select :date %>
      </div>

      <div class="form-group form-inline">
        <%= f.time_select :start_time %>
      </div>

      <div class="form-group form-inline">
        <%= f.time_select :end_time %>
      </div>

      <%= f.submit %>
    <% end %>
  </div>
</div>