<%= render partial: "breadcrumb", locals: { step: :who } %>
<h1>Data Collectors</h1>

<div class="row">
  <div class="col-md-4">
    <h2>Friends</h2>
    <button class="button">Add Friend</button>
  </div>
  <div class="col-md-4">
    <h2>Data Collectors</h2>

    <% @data_collectors.each do |user| %>
      <%= bootstrap_form_for :friend,
                             layout: :inline,
                             url: edit_survey_remove_friend_path(@survey.token, user.token),
                             method: :delete do |f| %>
        <%= user.full_name %>
        <%= f.submit "Remove"  %>
      <% end %>
      <br>
    <% end %>

    <% if !@friends.empty? %>
      <%= bootstrap_form_for :friend, url: edit_survey_add_friend_path(@survey.token), method: :put do |f| %>
        <div class="form-group form-inline">
          <%= f.collection_select :token, @friends, :token, :full_name, label: "Friends" %>
          <%= f.submit %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Add Volunteer</h2>
    <button class="button">Add Volunteer</button>
  </div>
</div>

<%= link_to "Continue to Step 3", edit_survey_when_path(token: @survey.token), method: :get %>
