<ul class="nav nav-pills nav-stacked">
  <h2>COASST</h2>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Add Survey", new_survey_path %></li>
  <li><%= link_to "Edit Survey" %></li>
  <li><%= link_to "My Info" %></li>
  <li><%= link_to "Logout" %></li>
</ul>
